<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!-- 引入配置文件 -->
    <properties resource="jdbc.properties"/>

    <!--<classPathEntry-->
            <!--location=
        "D:\Java\maven-repository\repository\mysql\mysql-connector-java\5.1.30\mysql-connector-java-5.1.38.jar"/>-->
    <context id="mysql"   targetRuntime="MyBatis3">

        <!--javaFileEncoding：设置java文件编码，如GBK或UTF-8-->
        <property name="javaFileEncoding" value="UTF-8" />

        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!--配置数据库链接信息账号密码-->
        <jdbcConnection driverClass="${jdbc.driverClassName}"
                        connectionURL="${jdbc.url}"
                        userId="${jdbc.username}"
                        password="${jdbc.password}">
        </jdbcConnection>

        <!-- 默认false，把JDBC DECIMAL 和 NUMERIC 类型解析为 Integer，为 true时把JDBC DECIMAL 和
           NUMERIC 类型解析为java.math.BigDecimal -->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!--生成javabean类存放位置-->
        <javaModelGenerator targetPackage="zym.pojo" targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>


        <!--sqlMapGenerator标签用于配置SQL映射生成器(Mapper.xml)的属性-->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>


        <!-- javaClientGenerator标签用于配置生成Mapper接口的信息
            type="ANNOTATEDMAPPER",生成Java Model和基于注解的Mapper对象
            type="MIXEDMAPPER",生成基于注解的Java Model和相应的Mapper对象
            type="XMLMAPPER",生成SQLMap XML文件和独立的Mapper接口
        -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="zym.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>


        <!--生成对应表及类名-->
        <!--<table tableName="%" enableCountByExample="false"
                enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false" selectByExampleQueryId="false"/>-->

        <table tableName="message_interaction"   domainObjectName="MessageInteraction" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false" />

    </context>
</generatorConfiguration>