<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zym.dao.LanguageMarkMapper">
  <resultMap id="BaseResultMap" type="zym.pojo.LanguageMark">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mark" jdbcType="VARCHAR" property="mark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from language_mark
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from language_mark
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zym.pojo.LanguageMark" useGeneratedKeys="true" keyProperty="id">
    insert into language_mark (mark)
    values (#{mark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zym.pojo.LanguageMark" useGeneratedKeys="true" keyProperty="id">
    insert into language_mark
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mark != null">
        mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mark != null">
        #{mark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zym.pojo.LanguageMark">
    update language_mark
    <set>
      <if test="mark != null">
        mark = #{mark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zym.pojo.LanguageMark">
    update language_mark
    set mark = #{mark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 模糊查询sql -->
  <sql id="where">
    <where>
      <if test="mark != null">
        and mark like concat('%',#{mark},'%')
      </if>
    </where>
  </sql>

  <!-- 模糊查询sql -->
  <select id="getLanguageMarkList" parameterType="zym.pojo.LanguageMark" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from language_mark
    <include refid="where" />
  </select>

  <!-- 查重复题目编号的 -->
  <select id="selectRepeat" parameterType="zym.pojo.LanguageMark" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from language_mark
    <if test="mark != null and mark != ''">
      where mark = #{mark};
    </if>
  </select>
</mapper>